.navburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 1rem 0;

  .navburger__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

.navburger__list-wrapper {
  position: relative;
  top: -13px;
  left: -80%;
  width: 80%;
  height: calc(100vh - 43px);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow-y: scroll;
  background-color: #343334;
}

.navburger__list {
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
}

.navburger__list-item {
  position: relative;
  margin: 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-size: 22px;
}

.navburger__list-header {
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 75px;
  background-color: #343334;
}

.navburger__sub {
  margin: 0;
  height: 0px;
  padding-left: 1rem;
  overflow-y: hidden;
  list-style-type: none;
  transform: scaleY(0);
  animation-name: expandSubMenu;
  transform-origin: 0% 0%;
  transition-duration: 0.2s;
}

@keyframes expandSubMenu {
  0% {
    height: 0px;
    transform: scaleY(0);
  }

  50% {
    height: auto;
    transform: scaleY(0.5);
  }

  100% {
    height: 100%;
    transform: scaleY(1);
  }
}

.navburger__sub-item {
  margin: 0;
}

.navburger__list-link,
.navburger__sub-link {
  width: calc(100% - 2rem);
  padding: 1rem 1rem 1rem 1rem;
  display: inline-block;
  white-space: nowrap;
}

.navburger__icon {
  position: relative;
  display: block;
  left: 1rem;
  top: -1rem;
  z-index: 2;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;

  &:hover span {
    background: #bbb;

    &:before, &:after { background: #bbb; }
  }
}

.navburger__icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #bbb;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.navburger__icon > span:before,
.navburger__icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #bbb;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.navburger__icon > span:before {
  -webkit-transform: translateY(0.75em);
          transform: translateY(-0.75em);
}

.navburger__icon > span:after {
  -webkit-transform: translateY(0.75em);
          transform: translateY(0.75em);
}

.navburger__icon.open {
  -webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.navburger__icon.open > span:before {
  -webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.navburger__icon.open > span:after {
  -webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.navburger__icon.open ~ .navburger__list-wrapper {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.slideIn-enter {
  opacity: 0;
  z-index: 10000;
}

.slideIn-enter.slideIn-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
