@import 'normalize';
@import 'skeleton';

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  color: #f3f3f3;
  background-color: #000;
}

a {
  color: #e62325;

  &:hover {
    color: #ff5c49;
  }
}

h1,
h2,
strong {
  color: #f9f9f9;
}

.container {
  max-width: 50rem;
}
